@page
@model WarehouseFE.LoginModel
@{
    ViewData["Title"] = "Login";
}
@section Head{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link href="~/css/Login.css" rel="stylesheet" />
}
<div class="login-form">
    <form action="/Login" method="post" id="loginForm">
        <h2 class="text-center">Sign in</h2>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="userName" id="userName" placeholder="Username" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="required">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/lib/jquery.cookie.js"></script>
    <script src="~/js/Login.js"></script>
}

